<div class="heading">
  <hr>
  <h1 style="padding-left: 20px;">Dünya Para Birimleri Değer Artış - Azalış </h1>
  <hr>
  <br>
  <table>
    <tr>
      <th style="transform: rotate(270deg);">Para Birimleri<hr style="color: #fff;"></th>
      <div *ngFor="let currency of currencies">
      	<tr *ngIf="user_currencies.includes(currency)"><input class="btn" type="checkbox" checked (click)="AddCurrency(currency)">&nbsp;{{currency}}</tr>
      	<tr *ngIf="!user_currencies.includes(currency)"><input class="btn" type="checkbox" (click)="AddCurrency(currency)">&nbsp;{{currency}}</tr>
      </div><br>
      <td style="text-align: center;">
        <!-- Start of Cross Rates Component --> <br><br>
      	<div class="tradingview-widget-container" #containerDiv>
    		<div class="tradingview-widget-container__widget"></div>
        <!-- End of Cross Rates Component -->
  		</div>
      </td>
    </tr>
  </table>
</div>
