.card-1{
    width: 100% !important;
}
.card1-header{
  font-size: 6;
  font-weight: 700;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.db-container{
  width: 95%;
  margin: 0 auto;
  margin-bottom:20px ;
  margin-top:20px ;
}

.db-table-card{
  margin: 0; padding: 0;
}

th.mat-sort-header-sorted {
  color: black;
}