<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
</head>
<body>
<h1 class='quote'>
  <span>Sade ve güvenilir fiyat ekranı ile tanıştın mı?</span>
  <span>... Daha ne duruyorsun? </span>
  <button routerLink="home" style="color: rgb(158, 158, 158); background-color:rgb(46, 46, 46); border: rgb(49, 47, 47) solid 2px;"> Tıkla ve Gör </button>
</h1>

<div class='clouds'>
  <div class='clouds-1'></div>
  <div class='clouds-2'></div>
  <div class='clouds-3'></div>
</div>
</body>
</html>
